
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
h1,h2,h3,h4,h5,h6,p,ul,ol,body,hr,img{
    margin: 0;
    padding: 0;
}
.container{
    max-width:1294px;
    margin: 0 auto;
}
body{
  font-family: "Readex Pro","Inter" sans-serif;
  font-style: normal;
}
html{
    scroll-behavior: smooth;
}
